<div class= 'container center'>
  <h5>Welcome to Prickly Plant</h5>
  <div class= 'row'>
    <div class="col s4">
      <a href='/products'><i class="large material-icons orange-text">shopping_basket</i>
      <br/>
      <small>Products</small>
      </a>
    </div>
    <div class="col s4">
      <a href='/categories'><i class="large material-icons orange-text">description</i>
      <br/>
      <small>Categories</small>
      </a>
    </div>
    <div class="col s4">
      <a href='/suppliers'><i class="large material-icons orange-text">store</i>
      <br/>
      <small>Suppliers</small>
      </a>
    </div>
    <div class="col s4">
      <a href='/purchases'><i class="large material-icons orange-text">shopping_cart</i>
      <br/>
      <small>Suppliers</small>
      </a>
    </div>
    <div class="col s4">
      <a href='/sales'><i class="large material-icons orange-text">trending_up</i>
      <br/>
      <small>Sales</small>
      </a>
    </div>
    <div class="col s4">
      <a href='/users'><i class="large material-icons orange-text">supervisor_account</i>
      <br/>
      <small>Customers</small>
      </a>
    </div>









  </div>
</div>
